*{
    text-align: center;
}

html{
    background-color: #BDD9E9;
}

body{
    width: 640px; 
    margin: auto;

}

h1{
    font-size: 40px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

p{
    font-size: 1.2rem;
}